/** @format */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-black: hsla(0, 0%, 17%, 1);
  --color-light: hsla(221, 13%, 46%, 1);
  --color-light-grey: hsla(220, 13%, 91%, 1);
  --color-grey: hsla(221, 13%, 46%, 1);
  --color-bg: hsla(34, 100%, 50%, 1);
  --color-white: hsla(0, 0%, 100%, 1);
  --color-light-black: hsla(0, 0%, 17%, 0.8);
  --color-border: hsla(0, 0%, 72%, 1);
  --color-border2: hsla(0, 0%, 82%, 1);
  --color-disabled: hsla(180, 11%, 89%, 1);
  --color-pink: hsla(34, 100%, 50%, 0.05);
  --color-green: hsla(134, 61%, 41%, 1);
  --color-bg-green: hsla(134, 61%, 96%, 1);
  --color-red: hsla(2, 73%, 53%, 1);
  --color-overlay: rgba(0, 0, 0, 0.1);
}

:root {
  --font-family: "Inter";
}

body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  font-family: var(--font-family);
}

body::-webkit-scrollbar {
  display: none;
}

.toasify {
  font-family: var(--font-family);
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 0.9s ease-out forwards;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*style for input*/
.input {
  padding: 8px;
  border: 1px solid var(--color-light-grey);
  border-radius: 8px;
  /* width: -webkit-fill-available; */
}

.input:focus {
  outline: none;
}

.text {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-black);
}

.text2 {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-grey);
}

.button {
  background-color: var(--color-bg);
  border-radius: 8px;
  padding: 12px 32px;
  color: var(--color-white);
  border: none;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.button:disabled {
  background-color: var(--color-disabled);
  /* opacity: 50; */
  color: var(--color-black);
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  opacity: 0.5;
}
